@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  font-family: var(--font-dharma-gothic);
}
body {
 
  color: var(--foreground);
  background: var(--background);
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}





@layer components {
  .glowy {
    font-size: calc(20px + 18vh);
    line-height: calc(20px + 20vh);
    /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff; */
    text-shadow: 0 0 10px #ffa500, 0 0 5px #ffa500, 0 0 15px #ffa500,
      0 0 25px #ffa500, 0 0 25px #ff0000, 0 0 5px #ff8d00, 0 0 45px #ff0000;
    color: #fff6a9;
    /* font-family: "Sacramento", cursive; */
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
  }
  .glowy_2 {
    font-size: calc(20px + 18vh);
    line-height: calc(20px + 20vh);
    /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
    color: #fccaff; */
    text-shadow: 0 0 1px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff,
      0 0 1px #ffffff, 0 0 40px #ff7e14, 0 0 10px #ff8d00, 0 0 50px #ff0000;
    color: #d37721;
    /* font-family: "Sacramento", cursive; */
    text-align: center;
    animation: blink 12s infinite;
    -webkit-animation: blink 12s infinite;
  }


  .fancy {
    --offset: 3px;
    background: rgb(9,9,11);
    position: relative;
    overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
    content: '';
    background: conic-gradient(transparent 270deg, white, transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
}

/* Overlay */
.fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
}

.fancy img {
    background: transparent;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    inset: 0; 
    z-index: 10;
    padding: 0.3rem;
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
    }

    to {
        transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
    }
}

.dropbtn {
  background-color: #252525;
  color: white;
  padding: 8px 22px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 6px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #252525;

}

/* ==================+++++Border Animation++++============= */

.box {
 
 
  display: grid;
  place-content: center;
  color: white;
  text-shadow: 0 1px 0 #000;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
      from var(--border-angle),
      #213,
      #112 5%,
      #112 60%,
      #213 95%
    );
  border: solid 5px transparent;
 
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
  background: var(--main-bg) padding-box, var(--gradient-border) border-box, var(--main-bg) border-box;
  background-position: center center;
  -webkit-animation: bg-spin 2s linear infinite;
          animation: bg-spin 2s linear infinite;
}
@-webkit-keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.box:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.dangerousHtml ul li {
  list-style: circle;
  @apply text-teal-400
}
.dangerousHtml ul  {
  list-style: circle;
  @apply pl-3 mt-4 flex flex-col gap-2
}

.dangerousHtml a {
  color: yellow;
}

.dangerousHtml h1{
  @apply text-xl text-center text-rose-500 md:text-2xl lg:text-3xl xl:text-4xl
}
.dangerousHtml h2{
  @apply text-sm text-center  text-yellow-500 md:text-base lg:text-lg
}
.dangerousHtml h3{
  @apply text-sm text-center lg:text-base xl:text-lg
}

.dangerousHtml p{
  @apply text-sm text-center text-rose-500 md:text-lg lg:text-xl
}
.dangerousHtml strong{
  @apply text-xl tracking-normal 
}
}


